@font-face {
    font-family: CatFonts;
    src: url(CatFont.ttf);
}

div{
    font-family: CatFonts, sans-serif;
}

.flex0{
    
    position: absolute;
    top: 20%;
    left: 10%;
    transform: translate(-50% , -50%);
    background-color: white;
    width: 200px;
    border: 4px solid black;
    text-align: center;

}

.flex{
    
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50% , -50%);
}

.flex2{
    
    position: absolute;
    top: 60%;
    left: 87%;
    transform: translate(-50% , -50%);
    background-color: white;
    width: 350px;
    border: 4px solid black;
    text-align: center;
    overflow: hidden;
}

.flex3{
    
    position: absolute;
    top: 10%;
    left: 87%;
    transform: translate(-50% , -50%);
    background-color: white;
    width: 200px;
    border: 4px solid black;
    text-align: center;

}

.flex4 {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: white;
    width: 350px;
    border: 4px solid black;
    text-align: center;
    overflow: hidden;
    
}

body{
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5f8143ed-4ec0-4539-b8cf-827bc87f498a/d3l6i50-12ad4899-93d5-4445-a4dc-570cd5b26d9a.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzVmODE0M2VkLTRlYzAtNDUzOS1iOGNmLTgyN2JjODdmNDk4YVwvZDNsNmk1MC0xMmFkNDg5OS05M2Q1LTQ0NDUtYTRkYy01NzBjZDViMjZkOWEuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ucfcdYqUY2e89X1aFcnWGKnk2zYqdw2G30IUlTtWgek);
}


